body {
    background: #dddddd;
    margin: 24px;
}

.timer {
    font-family: sans-serif;
    display: inline-block;
    padding: 24px 32px;
    border-radius: 30px;
    background: white;
}

.timer__part {
    font-size: 36px;
    font-weight: bold;
}

.timer__btn {
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #8208e6;
    cursor: pointer;
}

.timer__btn--start {
    background: #00b84c;
}

.timer__btn--stop {
    background: #ff0256;
}
body
{
    background-color: #404040;
}

.clockpage
{
    margin: auto;
    max-width: 500px;
    min-width: 100px;
    background: white;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
    padding: 10px;
    font-weight: bold;
    border-top: 10px solid #55c49f;
    margin-top: 100px;
}
#dayOfWeek
{
    display: block;
    font-weight: normal;
    font-size: 18px;
}
.green{
    background: green;
}
.red{
    background: red;
}